*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bitter', serif;
}

.container{
    max-width: 940px;
    margin: 0 auto;
}
.header-social{
    background-color: #252729;
    padding: 15px ;
}
.header-social-content{
   text-align: right;
} 
.header__social-item{
    color: #fff;
    height: 20px;
    width: 30px;
    margin-left: 15px;
    text-decoration: none;
    
}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.header-logo{
    display: flex;
    align-items: center;
}
.header-logo-photo{
   margin-right: 10px;
}
.header-logo-text{
    font-size: 24px;
    font-weight: 600;
    color: #000;
}
.header-menu-nav{

}

.header-menu-nav-item{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #252525;
    padding-right: 28px;
}
.header-menu-nav-item:last-child{
    padding-right: 0;
}
.header-content{
    background-image: url(img/header-bgc-photo.png);
    background-size: auto;
    margin-bottom: 100px;

}
.header-content-title{
    padding: 12px 0;
    border: 1px solid background;
    background-color: #111111;
    margin-bottom: 2px;
    outline: none;
    opacity: 75%;
}
.header-content-title:first-child{
    -top: 100px;

}